
{{> head }}


{{> navbar }}

<div class="row">

    <div class="col-8" >
        <h1>SISTEMA DE RESTAURANTES</h1>
        <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt dolore eius molestiae deleniti aspernatur, adipisci similique officia, nihil et quaerat in voluptas, laboriosam autem tenetur placeat reprehenderit eveniet qui quae.</h6>
    </div>

    <div class="col-4">
        <img src="assets/img/FoodRest.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}